/* ---------------- Navigation Bar -----------------*/
.logo_navbar {
  font-weight: bolder;
}
nav {
  margin-top: 15px;
}
.nav-links {
  padding-right: 10px;
  padding-left: 10px;
}
/* -------------------- Content ------------------- */
#social-links {
  height: 150px;
  border-radius: 15px;
  text-align: center;
  padding-top: 10px;
  margin-top: 10px;
}

#social-links > ul > li > a {
  color: black;
  justify-content: space-around;
}

/* -------------------- Third Section ------------------- */
.buttons {
  padding-top: 10px;
  padding-bottom: 40px;
}
.round-button {
  margin-right: 15px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid #B5B8BA;
  margin-top: 15px;
}
.round-button:hover {
  border: 1px solid black;
}
.date-1 {
  margin-bottom: 3px;
  margin-top: 2px;
}
.date-2 {
  margin-top: 15px;
  margin-bottom: 3px;
}
.description-2 {
  margin-bottom: 65px;
}
.date-3 {
  margin-bottom: 40px;
}
.article-link-3 > h5 {
  margin-top: 10px;
  margin-bottom: 0;
}


/* -------------------- Footer --------------------- */
.footer {
  background-color: grey;
}
.footer-list {
  list-style: none;
}
.footer-links > a {
  color: black;
  font-weight: 200;
}
.footer-links {
  padding: 3px 0 5px 0;
}
#disclaimer {
  font-weight: 200;
}
.footer-links-1 > li {
  display: inline;
  font-size: 13px;
  padding-left: 3px;
}
.footer-links-1 {
  font-size: 13px;
}
